#general {
  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  font-size: 3rem !important;
  width: 100%;
  height: auto !important;
}

.profession {
  font-size: 1.6rem !important;
  width: 100%;
}

.profession-mb {
  margin-bottom: 10px;
}

.form-inputs {
  width: 100%;
  font-size: 1.2rem !important;
}

.description {
  font-size: 1.25rem !important;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.float-right {
  float: right;
}