#general {
  padding-top: 20px;
  padding-bottom: 20px;
}

.name {
  font-size: 3rem !important;
}

.profession {
  font-size: 1.6rem !important;
}

.profession-mb {
  margin-bottom: 10px;
}

.form-inputs {
  width: 100%;
}

.description {
  font-size: 1.25rem !important;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.general-input input:focus {
  border-bottom: 1px solid rgba(63, 81, 181, 1) !important;
}
.float-right {
  float: right;
}