@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
body {
  font-family: 'Chivo', sans-serif !important;
}

.heading {
  font-family: 'Playfair Display', serif !important;
}

.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}

.cv-section {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
  flex-direction: column;
}

.paper {
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}

.cv-sections {
  padding-bottom: 10px;
}

.cv-forms {
  width: 100%;
}

.MuiFormControl-root {
  width: 100%;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.dates {
  column-gap: 30px;
}

.footer-btns {
  margin-top: 30px !important;
}

.dividers {
  margin-left: 0 !important;
  margin-bottom: 5px !important;
}

.float-right {
  float: right;
}

.add-btn {
  margin-top: 20px !important;
}

.subtitle1 {
  font-size: 1.2rem;
}

.subtitle2 {
  font-size: 1.1rem;
}