@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
body {
  font-family: 'Chivo', sans-serif !important;
}

.heading {
  font-family: 'Playfair Display', serif !important;
}

.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 70px;
}

.cv-sections {
  padding-bottom: 10px;
}

.cv-forms {
  width: 100%;
}

.MuiFormControl-root {
  width: 100%;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.dates {
  column-gap: 30px;
}

.submit {
  margin-top: 30px !important;
  float: right;
}

.dividers {
  margin-left: 0 !important;
  margin-bottom: 5px !important;
}

.float-right {
  float: right;
}