@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
body {
  font-family: 'Chivo', sans-serif !important;
}

.heading {
  font-family: 'Playfair Display', serif !important;
}

.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}

.cv-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paper {
  max-width: 800px;
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}

.cv-sections {
  padding-bottom: 10px;
  margin-bottom: 70px;
}

.cv-forms {
  width: 100%;
  max-width: 400px;
}

.MuiFormControl-root {
  width: 100%;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.dates {
  column-gap: 30px;
}

.footer-btns {
  margin-top: 30px !important;
}

#experience-btns {
  margin-top: 70px !important;
}

.dividers {
  margin-left: 0 !important;
  margin-bottom: 5px !important;
}

.float-right {
  float: right;
}

.add-btn {
  margin-top: 20px !important;
}

.subtitle1 {
  font-size: 1.4rem !important;
}

.subtitle2 {
  font-size: 1.3rem !important;
}

.container {
  display:flex;
  justify-content: flex-start;
  row-gap: 20px;
  flex-direction: column;
}

.icon-btn {
  padding-left: 19px !important;
  padding-bottom: 0 !important;
  width: 20px !important;
  height: 10px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.info-text {
  word-break: break-word;
}

.focus-input input:focus {
  border-bottom: 1px solid rgba(63, 81, 181, 1) !important;
}

.skill-font-size, ul li {
  font-size: 1.3rem !important; 
}

.body-1 {
  font-size: 1.1rem !important;
}